body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e;
    background-image: linear-gradient(#05151c, black);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

h2 {
    margin-top: 20px;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album {
    background-color: #1e1e1e;
    border-radius: 4px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    flex: 5 0 16.66%; /* Adjust this value to control how many images are shown */
    position: relative;
    margin: 5px;
}

.album img {
    width: 100%;
    height: auto;
}

.album p {
    padding: 10px;
    margin: 0;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

d-flex {
    display: flex;
}

.ficha {
    align-items:center;
    background:#fff;
    background:hsla(0,0%,100%,.1);
    border:none;
    border-radius:1rem;
    border-radius:999999rem;
    box-sizing:border-box;
    color:#030303;
    color:#fff;
    display:flex;
    font-size:1.125em;
    height:2.25em;
    justify-content:center;
    overflow:hidden;
    padding:.5em 1em;
    white-space:nowrap;
    margin-right: 10px;
    /* flex define el tamaño y espacio entre elementos 5 0 0 significa que el tamaño es el necesario para que quepan 10 elementos sin espaciado*/
    flex: 10 0 0%;
}

#carrusel-fichas .carousel-inner{
    padding-left: 3%;
    padding-right: 2%;
}

#carrusel-fichas #flecha-fichas {
    margin-right: 20px;
}

#fichas-artistas {
    display:flex;
    flex-direction:row;
    font-family:InterVariable,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
    gap:.5em;
    margin-bottom:1.4em;
    margin-top:.25em;
    overflow-x:auto;
    padding:0 0 .125em;
    scroll-behavior:smooth
}

#flecha-ficha {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}


#carouselTrack {
  transition: transform 300ms ease;
  will-change: transform;
}
#carouselViewport { /* ensures Bootstrap's overflow-hidden works */
  max-width: 100%;
}
.card { flex: 0 0 auto; }