/* Define el color de los links al pasar el mouse por encima */
a:hover {
    color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

d-flex {
    display: flex;
}

header {
    background-color: #1e1e1e;
    background-image: linear-gradient(#05151c, black);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

h2 {
    margin-top: 20px;
}

main {
    padding: 20px;
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.album {
    background-color: #1e1e1e;
    border-radius: 4px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    flex: 5 0 16.66%;
    position: relative;
    margin: 5px;
}

.album img {
    width: 100%;
    height: auto;
}

.album p {
    padding: 10px;
    margin: 0;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    width: 40px;
}



.ficha {
    align-items:center;
    background:#09191f;
    /* Redondeo bordes */
    border-radius:15px;
    /* Color letra */
    color:#fff;
    display:flex;
    /* Tamaños en em para ser proporcionales al resto del texto*/
    font-size:1.1em;
    height:2.25em;
    justify-content:center;
    /* Margen para despegar las fichas */
    margin-right: 10px;
    /* flex define el tamaño y espacio entre elementos 5 0 0 significa que el tamaño es el necesario para que quepan 10 elementos sin espaciado*/
    flex: 10 0 0%;
}

#carrusel-fichas .carousel-inner{
    /* Padding para dejar espacio para las flechas */
    padding-left: 3%;
    padding-right: 2%;
}

#flecha-ficha {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.cart a {
    color: white;
    text-decoration: none;
    position: relative;
}

.cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #f44336;
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.user-account a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
